<div>
    <div class="flex flex-wrap">
        <div class="w-full md:w-2/3 cart">
            <div class="title bg-[#E2F4FF] text-[#232323] flex items-center">
                <div class="flex w-100">
                    <div class="w-1/4 ml-[20px]"><b>Products</b></div>
                    <div class="w-1/4"><b>Price</b></div>
                    <div class="w-1/4"><b>Quantity</b></div>
                    <div class="w-1/4"><b>Subtotal</b></div>
                </div>
            </div>
            
            <div class="border-t border-b">
                <div class="flex main items-center">
                    <div class="w-1/6 md:w-2/12"><img class="w-full" src="/assets/image/a19.png"></div>
                    <div class="w-3/6 md:w-8/12">
                        <div class="text-muted text-[#003F62] font-bold">Play Game</div>
                        <div>Color: Green</div>
                        <div>size : 30</div>
                    </div>
                    <div class="w-1/6 md:w-1/6 text-right font-bold">$11.07</div>
                    <div class="w-1/6 md:w-1/6 text-center">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="w-1/6 md:w-1/12 text-right font-bold">$11.07</div>
                </div>
            </div>
            
            <div class="border-t border-b">
                <div class="flex main items-center">
                    <div class="w-1/6 md:w-2/12"><img class="w-full" src="/assets/image/a22.png"></div>
                    <div class="w-3/6 md:w-8/12">
                        <div class="text-muted text-[#003F62] font-bold">Play Game</div>
                        <div>Color: Black</div>
                        <div>size : 30</div>
                    </div>
                    <div class="w-1/6 md:w-1/6 text-right font-bold">$11.07</div>
                    <div class="w-1/6 md:w-1/6 text-center">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="w-1/6 md:w-1/6 text-right font-bold">$11.07 </div>
                </div>
            </div>
                <div class="flex mt-4 font-bold">
                <button class="text-white mr-4 cursor-pointer bg-[#EDA415] h-[70px] w-[295px] rounded-[30px]">Continue shopping</button>
                <button class="text-gray-500 mr-4 cursor-pointer h-[70px] w-[225px] rounded-[30px] border">Update cart</button>
                <button class="text-red-400 cursor-pointer h-[70px] w-[225px] rounded-[30px] border">Clear cart</button>
            </div>
        </div>
        
        <div class="w-full  md:w-1/3 summary bg-white">
            <div class="title bg-[#E2F4FF] text-[#232323] flex items-center">
                <div class="flex w-100">
                    <div class="mx-auto"><b>Cart total</b></div>
                </div>
            </div>
            
            <div class="flex justify-between font-bold">
                <div>Subtotal</div>
                <div>$ 23.20</div>
            </div>
            <hr>
            <form class="mt-4">
                <input id="code" class="w-full px-4 py-2 rounded-[20px] border bg-white" placeholder="Enter coupon code">
                <select class="mt-4 w-full px-4 py-2 rounded-[20px] border bg-white">
                    <option class="text-muted">Country </option>
                </select>
            </form>
            <div class="flex mt-4 justify-between border-t pt-4">
                <div>TOTAL amount</div>
                <div>$ 28.14</div>
            </div>
            <button class="w-full mt-4 h-[52px] bg-[#EDA415] text-white  rounded-[30px]">Proceed to checkout</button>
        </div>
    </div>   
</div>

