
  <footer class="text-center text-lg-start text-white bg-[#E2F4FF] h-[510px]" >
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row ">
          <img src="/assets/image/a9.png" alt="" class="mt-5 h-[140px] mx-auto">
          <div class=" col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-5">
            <img src="/assets/image/a7.png" alt="">
            <!-- <hr class="mb-4 mt-0 d-inline-block mx-auto w-14 h-0.5 bg-white" /> -->
            <p class="text-[#1B5A7D] text-[20px] mt-[20px]">64 st james boulevard</p>
            <p class="text-[#1B5A7D] text-[20px]"> hoswick , ze2 7zj</p>
            <hr class="mt-8 bg-[#9D9D9D] w-[340px]">
            <img src="/assets/image/a8.png" alt="" class="h-[60px] w-[200px]">
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-5 text-[20px] text-[#1B5A7D]">
         
            <h6 class="text-uppercase fw-bold">Find product</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto  w-14 h-0.5 bg-white"/>
            
            <p>
              <a href="#" >Brownze arnold</a>
            </p>
            <p>
              <a href="#!" >Chronograph blue</a>
            </p>
            <p>
              <a href="#!">Smart phones</a>
            </p>
            <p>
              <a href="#!">Automatic watch</a>
            </p>
            <p>
              <a href="#!">Hair straighteners</a>
            </p>
          </div>
        
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-5 text-[20px] text-[#1B5A7D]">
           
            <h6 class="text-uppercase fw-bold">Get help</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto  w-14 h-0.5 bg-white" />
              
            <p>
              <a href="#!" >About us</a>
            </p>
            <p>
              <a href="#!">Contact us</a>
            </p>
            <p>
              <a href="#!">Return policy</a>
            </p>
            <p>
              <a href="#!">Privacy policy</a>
            </p>
            <p>
              <a href="#!">Payment policy</a>
            </p>
          </div>
       
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5 text-[20px] text-[#1B5A7D]">
         
            <h6 class="text-uppercase fw-bold">About us</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto  w-14 h-0.5 bg-white"/>
            <p>
              <a href="#!"> News</a>
            </p>
            <p>
              <a href="#!">Service</a>
            </p>
            <p>
              <a href="#!"> Our policy</a>
            </p>
            <p>
              <a href="#!">Custmer care</a>
            </p>
            <p>
              <a href="#!">Faq’s</a>
            </p>
          </div>
         
        </div>
       
      </div>
    </section>
      
  </footer>

